@import 'tailwindcss';

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Cantarell, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --tracking-tight-0_3: -0.01em;
  --color-ink-1: #0b0b0c;

  --breakpoint-xs: 35rem;   /* 560px */
  --breakpoint-3xl: 125rem; /* 2000px */
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html { scroll-behavior: smooth; }
  ::selection { background: rgba(255,255,255,0.16); color: #fff; }
  body { @apply font-sans; }
  body { @apply tracking-tight-0.3; }
  h1,h2,h3 { @apply tracking-tight-0.3; }
}

@layer components {
  .text-custom-hero {
    @apply text-3xl;
    @variant sm   { @apply text-4xl/11; }
    @variant 3xl  { @apply text-[2.5rem]/12; }
  }
  .text-custom-header {
    @apply text-2xl;
    @variant sm   { @apply text-3xl; }
    @variant 3xl  { @apply text-4xl/11; }
  }
  .text-custom-subheader {
    @apply text-xl;
    @variant sm   { @apply text-2xl; }
    @variant 3xl  { @apply text-3xl/10; }
  }
  .text-custom-text {
    @apply text-base;
    @variant sm   { @apply text-lg; }
    @variant 3xl  { @apply text-xl; }
  }
  .text-custom-textjapanese {
    @apply text-sm/6;
    @variant sm   { @apply text-base/7; }
    @variant 3xl  { @apply text-lg/7; }
  }
  .text-custom-label {
    @apply text-xs;
    @variant sm   { @apply text-sm; }
    @variant 3xl  { @apply text-base; }
  }
}

/* Reusable utilities */
@utility container-wide {
  @apply max-w-3xl 3xl:max-w-4xl mx-auto px-5 xs:px-8 border-x border-dashed border-neutral-800;
}
